---
import { adjustCredits, fetchCredits } from "../api";
import ProgressBar from "../components/ProgressBar.astro";
import Layout from "../layouts/Layout.astro";
import header from "../images/contributors-header.webp";
import { Image } from "astro:assets";
import weblate from "../components/weblate.svg";

const credits = await adjustCredits(await fetchCredits());
const avatarBase = import.meta.env.WEBLATE_AVATAR_BASE_URL;
---

<Layout
	title="Contribuer - Your Turn to Die en français"
	description="Your Turn to Die est un projet open source, collaboratif et communautaire, où la contribution est libre à tous."
>
	<Image
		class="banner"
		src={header}
		widths={[header.width / 8, header.width / 4, header.width / 2, header.width]}
		alt="Écran titre de Your Turn to Die"
	/>
	<div>
		<h2>Comment puis-je contribuer ?</h2>
		<p>
			N'importe qui peut contribuer sur notre Weblate !<br>
			Pour plus d'informations, il suffit de <a href="https://weblate.vinceh121.me/projects/your-turn-to-die/yttd-fr/#information" target="_blank">vous y rendre</a>.<br>
			Pour nous contacter, vous pouvez nous rejoindre sur <a href="https://discord.gg/PXyEMNEV4J" target="_blank">notre Discord</a>.
		</p>
		<p>Vous pouvez traduire de l'anglais ou du japonais.</p>
	</div>
	<div class="links">
		<a href="https://github.com/Nadekooo/YTTDFR" target="_blank">
			<i class="ph-duotone ph-github-logo"></i>
		</a>
		<a href="https://weblate.vinceh121.me/projects/your-turn-to-die/" target="_blank">
			<Image src={weblate} format="svg" alt="Weblate" />
		</a>
	</div>
	<div>
		<h2>Contributeurs</h2>
	</div>
	<div>
		{
			credits.map((entry) => (
				<div
					class="credits-entry"
					title={`${entry.fullName} : ${Math.ceil(entry.realPercentage).toFixed(0)}% des répliques traduites`}
				>
					<div>
						<img
							class="avatar"
							src={avatarBase + entry.username + ".png"}
							alt={entry.username}
							loading="lazy"
						/>
					</div>
					<div class="progress-container">
						<ProgressBar progress={entry.percentage} />
						<div class="username">
							<em>{entry.changeCount}</em>&emsp;{entry.fullName}
						</div>
					</div>
				</div>
			))
		}
	</div>
</Layout>

<style lang="scss">
	@import "../styles/_colors.scss";
	@import "@phosphor-icons/web/duotone";

	img.banner {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	p {
		margin-left: 4ch;
		margin-right: 4ch;

		@media (max-width: $medium) {
			margin-left: 1ch;
			margin-right: 1ch;
		}
	}

	.credits-entry {
		margin-left: 5em;
		margin-right: 5em;
		margin-top: 1em;

		display: flex;
		flex-direction: row;

		cursor: default;
		user-select: none;

		@media (max-width: $medium) {
			margin-left: 1ch;
			margin-right: 1ch;
		}

		img.avatar {
			height: 3em;
			margin-right: 1em;
			border-radius: 100%;
		}

		.progress-container {
			width: 100%;
		}

		.username {
			margin-top: 0.5em;
		}
	}

	.links {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		margin-top: 2em;
		margin-bottom: 1em;

		a {
			font-size: 3em;
			text-decoration: none;

			img {
				width: 54px;
				height: 54px;
			}
		}
	}
</style>
