---
import Layout from "../layouts/Layout.astro";

const hash = import.meta.env.COMMIT_HASH;
const targets = [
	{ target: "win-x64", icon: "ph-windows-logo", name: "Windows (x64)" },
	{ target: "linux-x64", icon: "ph-linux-logo", name: "Linux (x64)" },
	{ target: "osx-x64", icon: "ph-apple-logo", name: "macOS (x64)" },
	{ target: "osx-arm64", icon: "ph-apple-logo", name: "macOS (arm64)" },
];

const buildDate = new Date().toLocaleString("fr-FR");
---

<Layout title="Jouer à Your Turn to Die en français" description="">
	<div class="gamewrapper">
		<iframe
			id="gameframe"
			src={`/yttd-${hash}/`}
			allow="autoplay fullscreen"
			allowfullscreen="true"
			width="816"
			height="624"
		>
		</iframe>
	</div>
	<div class="buttons">
		<button id="btnFullscreen" title="Plein écran">
			<i class="ph ph-arrows-out"></i>
		</button>
	</div>
	<div class="download-header">
		<h3>Télécharger</h3>
		<span class="last-version">
			Dernière version&nbsp;:
			<a class="muted" href={`https://github.com/Nadekooo/YTTDFR/commit/${hash}`}>
				{buildDate}
			</a>
		</span>
	</div>
	<div class="download-buttons">
		{
			targets.map(({ target, icon, name }) => (
				<a href={`/yttd-${hash}-${target}.zip`} target="_blank">
					<i class={`ph ${icon}`} /> {name}
				</a>
			))
		}
	</div>
</Layout>

<script>
	document.getElementById("btnFullscreen")!.onclick = () => {
		document.getElementById("gameframe")?.requestFullscreen();
	};
</script>

<style lang="scss">
	@import "../styles/_colors.scss";
	@import "@phosphor-icons/web/regular";

	.gamewrapper {
		display: flex;
		justify-content: center;

		position: relative;
		overflow: hidden;

		width: 816px;
		height: 624px;

		@media (max-width: $medium) {
			width: 100vw;
		}

		iframe {
			position: relative;
			overflow: clip;
			margin-top: 4em;
			border: 0;

			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			width: 100%;
			height: 100%;
		}
	}

	.buttons {
		margin: 1em 16em;
		display: flex;
		justify-content: right;

		button {
			cursor: pointer;
			background: 0;
			border: 0;
			color: white;

			.ph {
				font-size: 2em;
			}
		}
	}

	.download-header {
		// margin-left: 10ch;
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			margin-bottom: 0;
		}

		.last-version {
			font-size: 14px;
			color: $textMuted;

			a {
				color: $lightGray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.download-buttons {
		display: flex;
		justify-content: space-evenly;
		margin-top: 1.5em;

		a {
			text-underline-offset: 0.5em;
			text-align: center;
		}
	}
</style>
