---
interface Props {
	title: string;
	/**
	 * Recommended length: 150 - 160 characters
	 */
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="theme-color" content="#030311" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="apple-touch-icon" href="https://yttd.fr/favicon-large.png" />
		<link rel="shortcut icon" href="/favicon-large.png" />

		<link rel="manifest" href="/manifest.json" />

		<meta property="og:title" content={title} />
		<meta property="og:image" content="https://yttd.fr/hero.webp" />
		<meta property="og:site_name" content="yttd.fr" />
		<meta property="og:description" content={description} />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://yttd.fr/hero.webp" />
		<meta name="twitter:site" content="@YTTDFR" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<title>{title}</title>
	</head>
	<body>
		<slot/>
	</body>
</html>
